<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<nav>
  <div class="toggle">
    <i class="fa fa-bars menu" aria-hidden="true"></i>
  </div>
  <ul>
    <li><a href="test">Home
    <li><a href="create">Create
    <li><a href="#">logout</li>
  </ul>
</nav>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $('.menu').click(function(){
        $('ul').toggleClass('active');
      })
    })
</script>
</body>
