<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>ToDo || Registration</title>
  </head>
  <body>
    <div class="d1">
    </div>
    <div class="login">
    <form method="post" action="/registerreply">
    <h2>Registration Form</h2>
    <label class="" for="email">Email:</label>
    <input type="email" class="form-control" name="email" placeholder="Enter email">
    <label  for="pwd">Password:</label>
    <input type="password" class="form-control" name="pwd" placeholder="Enter password">
    <button type="submit" class="btn">Register</button>
    <a href="/">&lt;&lt;goback</a>
</form>
{{#if result}}
  <p>{{ result }}</p>
{{/if}}
</div>

  </body>
</html>
